<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lu.stochastic31">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RandomListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RandomDetailActivity"
            android:label="@string/title_random_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RandomListActivity" />
        </activity>
        <activity
            android:name=".activity.Preferences"
            android:label="@string/preferences"
            android:theme="@style/PreferenceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RandomListActivity" />
        </activity>
    </application>

</manifest>
